* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #a8b2d1;
  background: #171c25;
}
